extends layout
block content
  h1= title
  div
  form(action='/words',method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        input(id='word',type='text',value='',placeholder='Enter a word here...',name='word')  
        input(type='submit',value='Submit',data-transition='fade', data-theme='c')
  p
  script
    var fill = d3.scale.category20();
    var o = !{JSON.stringify(list)};
    console.log(o)
    d3.layout.cloud().size([600, 600])
        .words(o.map(function(d) {
          return d
          //console.log({text: d, size: d * 10 + Math.random() * 90});
        })
        )
        .rotate(function(d) { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .fontSize(function(d) { return d.size * 5; })
        .on("end", draw)
        .start();

    function draw(words) { 
        d3.select("body").append("svg")
            .attr("width", 600).attr("height", 600)
            .append("g").attr("transform", "translate(350,350)")
            .selectAll("text").data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size * 5 + "px"; })
            //.style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; }).append("svg:title")
            .text(function(d) { return d.tweet; } );
        }
      $('#word').focus()

