
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: black;
  text-align: center;
}

a {
  font-color: white;
  color: #00B7FF;
}
@font-face {
  font-family: Champion-HTF-Featherweight;
  src: url('../Champion-HTF-Featherweight.otf');
}